<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>SUMS MD 1400 - پزشکی شیراز مهر ۱۴۰۰</title>
<link rel="icon" type="image/x-icon" href="/static/assests/favicon.ico">
<style type="text/css">
@import url("/static/css/index.css");
</style>
</head>
<body>
<img src="/static/assests/client-logo2.png" class="center" alt="logo">
<h1 class="center_text">پزشکی شیراز مهر ۱۴۰۰</h1>
<h3 class="center_text2"><a href="https://t.me/archivesumsmdm1400" rel="noopener noreferrer" target="_blank" style="color: red;">کانال آرشیو</a></h3>
<h3 class="center_text2"><a href="https://t.me/sums1400_bot" rel="noopener noreferrer" target="_blank" style="color:green;">بات تلگرام</a></h3>
<h3 class="center_text2"><a href="https://t.me/sums1400talk_bot" rel="noopener noreferrer" target="_blank" style="color: blue;">بات پشتیبانی</a></h3>
	
<footer class="footer_class">
	<p class="class_p">❤️ ساخته شده با</p> 
</footer>

</body>
</html>